services:
  redis-server:
    container_name: redis-server
    hostname: redis-server
    image: redis/redis-stack:latest
    ports:
      - '6379:6379'
      - '8001:8001'
  gateway-golang:
    container_name: gateway-golang
    hostname: gateway-golang
    build:
      context: .
    ports:
      - '11890:8080'
